# 基础依赖
Flask==2.3.2
Flask-Cors==3.0.10
python-dotenv==1.0.0
pytesseract==0.3.10
Pillow==10.0.0
pydub==0.25.1
vosk==0.3.45
python-docx==0.8.11
pdfminer.six==20221105
docxtpl==0.16.4
docx2pdf==0.1.7

# AI 相关依赖
transformers==4.33.2
torch==2.0.1

# 其他工具
uuid==1.30

Werkzeug==2.3.7
fpdf2==2.7.4
SpeechRecognition==3.10.0
wave==0.0.2 